{{ define "content" }}


 <div class="container">
 <div class="row">

    <div class="col-xs-12 col-md-8 col-md-offset-2 block-1_count  block-1"> {{ .Title }} </div>

 </div>   
 </div>
 </header>

 <!--=====================
          Content
======================-->
<div class="container-fluid">
<div class="row">

<div class="col-xs-12 col-md-8 col-md-offset-2 slogan">

	  <div class="col-xs-12 col-md-4">
        <h3 class="head__1"><div class="fa fa-building"></div></h3>
        <address class="text3">
          No 401, Kranthi Towers <br>Sri Ram Nagar, Secretariat Colony <br>Manikonda, Hyderabad<br>500089, India
        </address>
      </div>
      <div class="col-xs-12 col-md-4">
              <h3 class="head__1"><div class="fa fa-phone"></div></h3>
        <div class="text3">
         India: +91 (0)8374313481 <br> South Africa: +27 (0)711664303
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <h3 class="head__1"><div class="fa fa-envelope"></div></h3>
        <div class="text3">
          <a href="#">info@siaria.net</a>
        </div>
      </div>




<div class="col-xs-12 col-md-8 col-md-offset-2">
		
		<div class="map">
		
          <figure class="">
          <h3 class="head__1"><div class="fa fa-map"></div></h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d673.0279564672597!2d78.38422291752093!3d17.40117597655904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb96a07eccf1a3%3A0x73c0b15b9482edf2!2sKranthi+Towers%2C+Secretariat+Colony%2C+Sri+Ram+Nagar+Colony%2C+Puppalguda%2C+Hyderabad%2C+Telangana+500089%2C+India!5e0!3m2!1sen!2sza!4v1459408833838" style="border:0"></iframe>
          </figure>
        </div>
</div>   
 </div>
 </div>

{{ end }}
