{{ define "content" }}
  <section class="page1_header">
    <div class="container">
      <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="grid_4">
          <a href="#" class="banner "><div class="maxheight">
            <div class="fa fa-globe"></div>Global Research</div>
          </a>
          <a href="#" class="banner "><div class="maxheight">
            <div class="fa fa-lightbulb-o"></div>Creative Ideas</div>
          </a>
          <a href="#" class="banner "><div class="maxheight1">
            <div class="fa fa-cog"></div>New Services</div>
          </a>
          <a href="#" class="banner "><div class="maxheight1">
            <div class="fa fa-briefcase"></div>Pro Management</div>
          </a>
        </div>
        <div class="grid_5">


        	<div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-1 col-xs-9">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                        	
                            <i class="fa fa-quote-left"> </i> Present day <b>strategy</b> THAT ALWAYS <b>works</b> <i class="fa fa-quote-right"> </i>
                            
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            
                            <i class="fa fa-quote-left"></i> Helping with any of your business needs <i class="fa fa-quote-right"> </i>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                                                        
                            <i class="fa fa-quote-left"> </i> Fresh Ideas for growing your business <i class="fa fa-quote-right"> </i>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Controls  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
	-->

		    <p>
          <h2>Strong <br> Stable <br> Safe</h2>
        </p>  
        </div>
      </div>
    </div>
  </div>
  </section>


  <div class="container">
    <div class="row">

    <div class="hidden-xs col-md-5 col-md-offset-2 block-1_count block-1"><br>{{ .Title }}
          
    </div>
    <div class="col-xs-12 col-md-3 block-1_count block-1"><a href="/signin/" class="support"><img src="/static/img/support.png" alt=""></a></div>
   <!--  
    <div class="block-1_count">
    Welcome to Siaria
    </div>
   
      <div class="grid_3">
        <div class="block-1_count">Welcome</div>
        to <br> Siaria
        <div class="clear"></div>
      </div>
      <div class="grid_3">
        <div class="block-1_count">to</div>
        Successful <br> Projects
        <div class="clear"></div>
      </div>
      <div class="grid_3">
        <div class="block-1_count">Siaria</div>
        Partner <br> Projects
        <div class="clear"></div>
      </div>
      <div class="grid_3">
        <a href="#" class="support"><img src="/static/img/support.png" alt=""></a>
      </div>
    -->
    </div>
  </div>
</header>

<!--=====================
          Content
======================-->
<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-md-8 col-md-offset-2 slogan">

  	


  	 
    	
            <h3>At Siaria, we believe in the power of changing perspectives</h3>Everyday, we use our industry insight, technological vision and innovative thinking to produce fresh perspectives on our customers’ businesses. That’s how we enable them to reach their full potential and accelerate their business.
            We are excited to work in the intersection of technology and business. Our game-changing IT innovations and services helps customers in the public and private sectors to realise new business and service opportunities, master industry change and stay one step ahead of their competitors.</p>

            <p>We are the new breed emerging Indian IT services company, looking to have a strong global presence and delivery capabilities.  </p>
            
        
        
        <!--
        <div class="wrap page1-row1">
        	<div class="box-1 border-right">
            	<strong class="number number-1">01.</strong>
                <span class="text-1">Smart</span>
                <p class="text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="text-3">Vivamus sed arcu dui, eu tincidunt sem. Vivamus hendrerit mauris ut dui.</p>
                <a href="#" class="link-1">Read more</a>
            </div>
            <div class="box-1 border-right">
            	<strong class="number number-2">02.</strong>
                <span class="text-1">Stable</span>
                <p class="text-2">Vivamus sed arcu dui, eu tincidunt sem. </p>
                <p class="text-3">Vivamus hendrerit mauris ut dui. gravida ut viverra lectus tincidunt. </p>
                <a href="#" class="link-1">Read more</a>
            </div>
            <div class="box-1 border-right">
            	<strong class="number number-3">03.</strong>
                <span class="text-1">Dynamic</span>
                <p class="text-2">Cras mattis tempor eros nec tristique.</p>
                <p class="text-3">Sed sed felis arcu, vel vehicula augue. Maecenas faucibus sagittis cursus. </p>
                <a href="#" class="link-1">Read more</a>
            </div>
            <div class="box-1 last">
            	<strong class="number number-4">04.</strong>
                <span class="text-1">Grow</span>
                <p class="text-2">Maecenas faucibus sagittis cursus. </p>
                <p class="text-3">Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis sem, sit amet dictum velit velit</p>
                <a href="#" class="link-1">Read more</a>
            </div>
        </div>
        -->
        <div class="wrap page1-row2">
        	 <div class="col-xs-12 col-md-6 border-right">
            	<h2>Who we are</h2>
                <div class="wrap">
                	<img src="../static/img/page1-img1.jpg" alt="" class="img-indent img-border hidden-xs">
                    <p>In a nutshell, we create service. Through investigation of our clients' needs, we gather information and tailor IT solutions that add direct value to their business.</p>
                </div>
                <p><strong>Client Testimony <a href="http://siaria.net/about/" class="link" target="_blank" rel="nofollow"></br></a> " We definitely got more for our money than we expected. We originally expected to get programmers who could help us implement our design for the online orientation. We got so much more! Siaria Consultancy Services took our designs and made them much better. They gave us more ideas for interactions and they suggested ways to add more learning experiences. Most importantly, they did all this well within our budget..." </strong></p>
                <a href="#" class="link-2">Read more</a>
            </div> 

            <!--
            <div class="page1-col-2 border-right">
            	<h2><span class="clr-1">N</span>ews</h2>
                <div class="box-2">
                	<a href="#" class="link-3">05.23</a>
                    <p><a href="#" class="link"><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></a> Vivamus sed arcu dui, eu tincidunt sem vivamus hendrerit.</p>
                </div>
                <div class="box-2">
                	<a href="#" class="link-3">05.15</a>
                    <p><a href="#" class="link"><strong>Vivamus sed arcu dui, eu tincidunt sem.</strong></a> Vivamus hendrerit mauris ut dui gravida ut viverra lectus tincidunt. </p>
                </div>
                <a href="#" class="link-2">Read more</a>
            </div>   
            -->
            <div class="col-xs-12 col-md-6">
            	<h2><span class="clr-1">S</span>ervices</h2>
                <ul class="list-1 ta__left">
                	
                    <li><a href="#"class="link"><strong>Consultaion</strong></a></br>Provide personalized assistance with attaining corporate goals.</li>
                    <li><a href="#"class="link"><strong>Analysis</strong></a></br> Analyze and evaluate current job tasks and business processes.</li>
                    <li><a href="#"class="link"><strong>Development</strong></a></br> Design and development of Apps and tools</li>
                    <li><a href="#"class="link"><strong>Managed Service</strong></a></br>From security to cloud to social machines, we take care of the complexity.</li>
                </ul>
            </div> 
            <a href="/services/" class="link-2">Read more</a>    
        </div>
        
<br> 
  

</div>

</div> 
</div>

</div>

</section>

{{ end }}