{{ define "content" }}


 <div class="container">
 <div class="row">

    <div class="col-xs-12 col-md-8 col-md-offset-2 block-1_count  block-1"> {{ .Title }} </div>

 </div>   
 </div>
 </header>

 <!--=====================
          Content
======================-->
<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-md-8 col-md-offset-2 slogan">
<div class="wrap page1-row1">


<h3>More value for less, economies of scale, globalisation and disruptive technologies.</h3>
<p>
The world is changing rapidly and so is business. Technology is an enabler and a driving force behind business transformation. Big data, Cloud, Social and Mobility are redefining the competitive landscape - creating new business models, value chains and revolutionising the way we engage with customers and partners.
<br>
<br>
We help you transform your business. We free up capital by reducing cost of operational IT. We transform your IT landscape to make it business ready and future proof and we help you re-shaping your business, utilising IT to drive and enable business change.
</p>
<p>
We are your partner, transforming People, Process and Technology to create sustainable business success.
</p>
<p>
We have one of the strongest consulting capabilities in the Siaria - take a look!
</p>
</div>
<div class="wrap page1-row2">
<div class="col-xs-12 col-md-6">
            	<h2><span class="clr-1">C</span>onsulting</h2>
                <ul class="list-1 ta__left">
                	
                    <li><a href="#"class="link"><strong>Business Consulting - From Vision to excution</strong></a></br>Let's find the right direction in executing your business strategy. We offer a full range of business consulting services and help in bringing together all the players needed in developing a winning service portfolio.</li>
                    <li><a href="#"class="link"><strong>Technology Consulting</strong></a></br> Digitalization is enabled by IT modernization. A lot of IT modernization is enabled by common technological foundation.</li>
                    <li><a href="#"class="link"><strong>Change and transformation services</strong></a></br> In digital transformation good planning is needed but that is not enough. You need innovation management and also to execute change in people, process and technology and deliver business outcome.</li>
                    <li><a href="#"class="link"><strong>Outsourcing</strong></a></br>Markets are constantly evolving and making completely new demands on businesses. It means businesses need to evolve fast. One of the primary tools that’s helping them with this process is digitalization. We believe that business digitalization is the key to drive IT modernization and that modernized IT is the key to enable business digitalization. IT outsourcing plays a critical role in enabling this change.</li>
                    <li><a href="#"class="link"><strong>End User Services- Easy IT for End users</strong></a></br>Users have access to modern tools and collaboration features independent of their device, with a multivendor Service Desk with various contact channels and self-help options, plus flexible on-site support, available at all times. Productivity services from the cloud allow unified operating models and work environment for the end users.</li>
                </ul>
                <a href="/services/" class="link-2">Read more</a>  
            </div> 
             

<div class="col-xs-12 col-md-6">
            	<h2><span class="clr-1">S</span>ervices</h2>
                <ul class="list-1 ta__left">
                	
                    <li><a href="#"class="link"><strong>Application services</strong></a></br>Modernizing applications for the digital world. End‐to‐end application services enable growth, efficiency and future disruptions. An orchestrated application landscape with a view to the future ensures the right focus on applications to build, optimize, retire and harvest. Application development and management frees time and money from legacy to investing in new digital solutions with rapid release cycles.</li>
                    <li><a href="#"class="link"><strong>Infrastructure services - managing cloud and legacy</strong></a></br> In today’s business landscape, IT challenges are changing from managing the existing to being able to support rapid development cycles. Complex and inflexible infrastructure – as many legacy systems are – will be unable to support constantly increasing data volumes and changing regulatory requirements unless a lot of money is spent on building enough capacity to handle demand peaks. High capital expenditure on capacity that sits unused for most of the time, however, is not financially sensible.</li>
                    <li><a href="#"class="link"><strong>Business application platforms services</strong></a></br> Enabling enterprise agility Scalable hybrid cloud platforms for business-critical applications, ERP systems and databases give high availability and performance while reducing complexity and cost.Application lifecycle management automates infrastructure and platform deployment, accelerating development and application release in multivendor ecosystems that support IoT and Big Data.</li>
                    
                </ul>
                <a href="/services/" class="link-2">Read more</a>
            </div> 
               
</div>
</div>
 </div>   
 </div>
 </div>

{{ end }}
